# Tell travis we need copy fo docker running
# Build image using docker dev file
# tell travis to run test suite
# tell travis to deploy to AWS

sudo: required
#need sudo permissions to run docker
services:
  - docker
  # need docker running

before_install:
  - docker build -t abhinavprakash/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true abhinavprakash/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "docker-react"
  bucket-name: "elasticbeanstalk-us-east-1-865631364916"
  bucket-path: "docker-react" # same as app name - folder that is created in S3 to hoold the zip file
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"
